.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: #fff;
}

.footer__column-link:hover {
  text-decoration: underline;
}

.footer__column-link:visited {
  color: #fff;
}
