
@import url(../styles/normalize.css);
@import url(../blocks/page/page.css);
@import url(../blocks/rotation/rotation.css);

/* Header */

@import url(../blocks/header/header.css);
@import url(../blocks/logo/logo.css);

/* Description */

@import url(../blocks/description/description.css);
@import url(../blocks/two-columns/two-columns.css);

/* Techniques */

@import url(../blocks/techniques/techniques.css);
@import url(../blocks/cards/cards.css);

/* Video */

@import url(../blocks/video/video.css);

/* Oakley */

@import url(../blocks/oakley/oakley.css);

/* Digits */

@import url(../blocks/digits/digits.css);
@import url(../blocks/section-title/section-title.css);
@import url(../blocks/section-subtitle/section-subtitle.css);
@import url(../blocks/table/table.css);

/* Feynman */

@import url(../blocks/feynman/feynman.css);

/* Kaufman */

@import url(../blocks/kaufman/kaufman.css);
@import url(../blocks/table/__cell/_theme/table__cell_theme_dark.css);

/* Footer */

@import url(../blocks/footer/footer.css);
