.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* Header */

.header {
  display: flex;
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  background-color: #f2f2f2;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 3;
}

.header__title {
  align-self: center;
  z-index: 3;
  width: 730px;
  margin: 0 0 0 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 700;
}

.header__subtitle {
  position: absolute;
  left: 64px;
  bottom: 30px;
  z-index: 3;
  width: 388px;
  margin: 0;
  line-height: 25px;
  font-size: 18px;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__link:hover {
  text-decoration: underline;
}

.header__main-illustration {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
  width: 765px;
  height: 608px;
}

.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0;
  z-index: 1;
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
}

/* Description */

.description {
  display: flex;
  justify-content: center;
  padding: 100px 0 100px;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.two-columns__brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  color: #2f80ed;
  font-weight: normal;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin: 0;
  line-height: 34px;
  font-size: 24px;
}

.two-columns__paragraph:not(:last-child) {
  margin-bottom: 30px;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 700;
}

/* Digits */

.digits {
  padding-bottom: 100px;
}

.section-title {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  line-height: 69px;
  font-size: 60px;
  font-weight: 700;
}

.section-subtitle {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  line-height: 32px;
  font-size: 24px;
  font-weight: normal;
}

.digits__section-subtitle {
  margin-top: 20px;
}

.table {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1100px;
  margin: 0 auto;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;
}

.table__text {
  margin: 20px 0 0 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

/* Feynman */

.feynman {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-height: 790px;
  padding-top: 100px;
  background-color: #f2f2f2;
}

.feynman__title {
  z-index: 1;
  width: 648px;
  margin: 0;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 700;
}

.feynman__subtitle {
  z-index: 1;
  margin: 70px 0 0 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__image {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 0;
  width: 867px;
  height: 637px;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
}

.feynman__link:hover {
  text-decoration: underline;
}

.feynman__link:visited {
  color: #000;
}

/* Kaufman */

.kaufman {
  position: relative;
  padding: 90px 0;
  background-color: #1f1f1f;
  overflow: hidden;
}

.kaufman__section-subtitle {
  margin-top: 20px;
}

.section-title_theme_dark,
.section-subtitle_theme_dark,
.table__heading_theme_dark,
.table__text_theme_dark {
  color: #fff;
}

.table__cell_theme_dark {
  width: 200px;
  margin-top: 80px;
  z-index: 1;
}

.kaufman__triangle {
  position: absolute;
  top: 0;
  right: -210px;
  width: 877px;
  height: 877px;
  background-image: url(../images/kaufman-triangle.svg);
  background-size: cover;
}

/* Footer */

.footer {
  background-color: #1f1f1f;
  color: #fff;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  width: 90%;
  min-height: 350px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 60px 0 40px 0;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}

.logo_place_footer{
  align-self: flex-start;
}

.footer__author {
  margin: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column_content_info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer__column-heading {
  margin: 0 0 20px 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: 700;
}

.footer__column-links {
  display: flex;
  flex-direction: column;
  padding: 0;
  list-style-type: none;
}

.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: #fff;
}

.footer__column-link:hover {
  text-decoration: underline;
}

.footer__column-link:visited {
  color: #fff;
}

.footer__column_content_social {
  display: flex;
  flex-direction: column;
}

.footer__social-icon {
  margin-right: 10px;
}

.footer__social-icon:visited {
  color: #fff;
}

.footer__social-icon:link {
  color: #fff;
}
